@import '../../style/variables.scss';

#div-calendar {
  // scss-variablen verwenden
  // background: $clr-red;
  th {
    background: $clr-red;
    color: $clr-light;

    .fc-day-sun,
    .fc-day-sat {
      background: $clr-blue-middle;
    }
  }

  th div a {
    margin-top: 4px;
  }

  .cal-infobar {
    min-width: 10rem;
  }
}

#CalendarEntryDialog-jsx {
  .cal-entry-userclasses {
    height: 50vh;
    overflow-y: scroll;
  }
}

// .modal {
//   top: 50%;
//   left: 50%;
//   right: auto;
//   bottom: auto;
//   margin-right: -50%;
//   transform: translate(-50%, -50%);
//   color: black;
// }

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // background-color: $clr-beige-light;
// }
