@import '../../style/variables.scss';


main{
    @apply flex flex-col py-6;

    .modal{
        @apply p-3 text-center;
        color: $clr-blue-darkest;
    }

    .totalTime{
        @apply text-lg font-bold text-center pt-2;
        color: $clr-blue-darkest;
    }

    .plannerFrame {
        border: 3px $clr-blue-darkest;
        margin: 3rem;
        padding: 2rem;
        @apply rounded-md border-dashed;
      }
      
}

@media print {
    .totalTime {
        @apply text-lg font-bold text-center pt-2;
        color: $clr-blue-darkest;
  }
  .trash {
    display: none;
    overflow: hidden;
    height: 0;
  }
.heading{
  margin: 3rem 0 1.5rem 0;
}

.printframe{
  padding: 1.5rem 0.5rem 1.5rem 4rem;
}



}