@import '../../style/variables.scss';


main{
    @apply flex flex-col py-6;

    .modal{
        @apply p-3 color-blue-darkest text-center;
    }

    .totalTime{
        @apply color-blue-darkest text-lg font-bold text-center pt-2;

    }

    .plannerFrame {
        border: 3px $clr-blue-darkest;
        margin: 3rem;
        padding: 2rem;
        @apply rounded-md border-dashed;
      }
      
}