@import '../../style/variables.scss';


main{
    @apply flex flex-col py-6;

    .modal{
        @apply p-3 text-center;
        color: $clr-blue-darkest;
    }

    .totalTime{
        @apply text-lg font-bold text-center pt-2;
        color: $clr-blue-darkest;
    }

    .plannerFrame {
        border: 3px $clr-blue-darkest;
        margin: 3rem;
        padding: 2rem;
        @apply rounded-md border-dashed;
      }
      
}

@media print {
    .totalTime {
        @apply text-lg font-bold text-center pt-2;
        color: $clr-blue-darkest;
  }
  .trash {
    display: none;
    overflow: hidden;
    height: 0;
  }
}

/* @media print {
    .center {
      text-align: center;
    }
  } */

  