@import '../../style/variables.scss';

.home {
  animation: fadeIn 1.5s forwards;
  font-family: $font-peg;
}

.top {
  background-image: url("https://yogalesson-createor-backend.herokuapp.com/images/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  background-color: $clr-blue-darkest;
  opacity: 0.9;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.bluewindow {
  display: flex;
  justify-content: center;
}

.divdivdiv {
  display: flex;
  justify-content: center;
}