@import '../../style/variables.scss';

.home {
  animation: fadeIn 1.5s forwards;
  font-family: $font-peg;
}

.top {
  background-image: url('https://storage.googleapis.com/monkeyplan-bucket/app/hero.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bluebox {
  background-color: $clr-blue-darkest;
  opacity: 0.9;
}

