@import '../../style/variables.scss';

.modalAsana {
  height: 85vh;
  // width: 65vw;
}

  
  .btn-seqColl-red-outline {
      @apply cursor-pointer outline outline-2 flex flex-row self-center mr-1;
      color: $clr-red;
  }
  .btn-seqColl-red-outline:hover {
      background-color: $clr-beige;
  }