@import '../../style/variables.scss';

.modalAsana {
  height: 85vh;
  // width: 65vw;
}

  
  .btn-seqColl-red-outline {
      @apply cursor-pointer outline outline-2 flex flex-row self-center mr-1;
      color: $clr-red;
  }
  .btn-seqColl-red-outline:hover {
      background-color: $clr-beige;
  }

  .addAsana {
    @apply p-6 flex flex-row justify-center self-center content-center items-center border-2 border-gray-400 w-24 h-24 mt-4;
  }
  
  .addAsana:hover{
      background-color: $clr-beige;
  }
  
  
  .delete {
    @apply self-center cursor-pointer;
    color: $clr-blue-darkest;
    font-family: $font-material-symbols;
  }

  .delete:hover{
    color: $clr-red;
  }

  @media print {
    @page {
      size: landscape;
    }
    
  }

  @media print {
    .trash {
      display: none;
      overflow: hidden;
      height: 0;
    }
    
    // .printAsanas{
    //   @apply grid-cols-5;

    // }

  }

