@import '../../style/variables.scss';

nav {
  font-family: $font-noto;

  a {
    color: $clr-primary;

    &:hover {
      color: $clr-secondary;
    }
  }
}

.navbar {
}

MenuItem:hover {
  cursor: pointer;
}