/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */

:root {
}

html {
  /*  the new standard -> 1rem = 10px */
  /* font-size: 62.5%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
