// fonts
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@font-face {
  font-family: moontime;
  src: url('../../public/MoonTime-Regular.ttf');
};
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


// fonts
$font-moontime: 'Moontime', serif;
$font-manjari: 'Manjari', sans-serif;
$font-material: 'Material Icons', sans-serif;

// colors
$clr-light: #FFF6EC;
$clr-red: #c94d4e;
$clr-beige: #f1a185;
$clr-beige-light: #ffd2b9;
$clr-blue-light: #c9e0e5;
$clr-blue-middle: #738b94;
$clr-blue-dark: #1d3542;
$clr-blue-darkest: #001a29;



// ###################### Archive ######################

// // pink
$color1: #edc9ba;
// $color2: #d6ab95;
// // blue -> complementary to $color1/2
// $color3: #005c8b;
// // red
// $color4: #d25a5a;
// // dark brown
$color5: #694736;

// // fonts
// $font1: 'Moontime';
// $font2: 'Garet';
// $font2: 'Glacial Indifference';
// $font3: 'Manjari thin';

// do not use this color variables (use the color schemes above)
$bg-primary: $clr-beige;
$clr-primary: $clr-blue-dark;
$clr-secondary: $clr-red;

// fonts draft version
$font-raleway: 'Raleway', sans-serif;
$font-peg: 'Square Peg', cursive;
$font-noto: 'Noto Sans', sans-serif;