$primary-bg: #d6ab95;
$primary-color: #005c8b;
$secondary-color: #d25a5a;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Square Peg', cursive;
$page-font: 'Noto Sans', sans-serif;

// pink
$color1: #edc9ba;
$color2: #d6ab95;
// blue -> complementary to $color1/2
$color3: #005c8b; 
// red
$color4: #d25a5a;
// dark brown
$color5: #694736;

// fonts
$font1: 'Moontime';
$font2: 'Garet';
$font2: 'Glacial Indifference';
$font3: 'Manjari thin';